 /* =========================
 MODCORE GOOGLE SANS FONT Font Faces (Static)
 ========================= */
     @font-face {
    font-family: "modcore-google-sans-font";
    src: url("modcore-google-sans-font/GoogleSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "modcore-google-sans-font";
    src: url("modcore-google-sans-font/GoogleSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "modcore-google-sans-font";
    src: url("modcore-google-sans-font/GoogleSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "modcore-google-sans-font-";
    src: url("modcore-google-sans-font/GoogleSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
